
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: "Roboto";
    src: local('Roboto-Regular'), url('/public/assets/fonts/Roboto-Regular.ttf');
}

.sender-bubble {
    padding: 1rem;
    background-color: rgb(216, 215, 151);
    display: inline-block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.group-messages {
    margin-top: 0.5rem;
}


.ungroup-messages {
    margin-top: 1.5rem;
}



.user-bubble {
    padding: 1rem;
    background-color: crimson;
    display: inline-block;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}



.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem
}


.border {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}




.d-flex {
    display: flex;
}


.justify-content-end {
    justify-content: end;
}


.justify-content-center {
    justify-content: center;
}


.justify-content-between {
    justify-content: space-between;
}





.text-center {
    text-align: center;
}


.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.me-1 {
    margin-right: 0.5rem;
}


.ms-1 {
    margin-left: 0.5rem;
}

.p-1 {
    padding: 0.5rem;
}

.p-4 {
    padding: 4rem;
}


.w-100 {
    width: 100%;
}


.text-box {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(118, 118, 118);
    width: 90%;
}

.send-button {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: crimson;
    border: none;
    color: white;
}


.overflow-y {
    overflow-y: scroll;
    height: 500px;
}



.bg-primary {
    background-color: #64a1bd;
    border-radius: 10px;
}



.messages-border {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    /* border-radius: 10px; */
}



.send-box-border {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* border-radius: 10px; */
}